<div id="{ID_OBJ_SELECTOR}_cont" objectSelector="{ID_OBJ_SELECTOR}">
    <div class="objectSelectorList" id="{ID_OBJ_SELECTOR}_cont_txt" style="padding: 5px 20px">{VAL_TXT}</div>
    <a href="#" id="{ID_OBJ_SELECTOR}_select" modal-signal="{MODAL_SIGNAL}" class="objectSelectorSelect">{TXT_SELECT}</a>
    <a href="#" id="{ID_OBJ_SELECTOR}_reset" class="objectSelectorReset">{TXT_RESET}</a>
    <input type="hidden" id="{ID}" class="form-control form-control-sm objectSelectorResult" name="{NAME}" value='{VALUE}' />
    {MODAL}
</div>