<div id="{ID_MULTIPLE_SELECTOR}_cont" multipleSelector="{ID_MULTIPLE_SELECTOR}">
    <div class="multipleSelectorList" id="{ID_MULTIPLE_SELECTOR}_cont_txt" style="padding: 5px 20px">{VAL_TXT}</div>
    <a href="#" id="{ID_MULTIPLE_SELECTOR}_select" modal-signal="{MODAL_SIGNAL}" class="multipleSelectorSelect">{TXT_SELECT}</a>
    <a href="#" id="{ID_MULTIPLE_SELECTOR}_reset" class="multipleSelectorReset">{TXT_RESET}</a>
    <input type="hidden" id="{ID}" class="form-control form-control-sm multipleSelectorResult" name="{NAME}" value='{VALUE}' />
    {MODAL}
</div>